.wrapper {
  display: grid;

  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);

  height: 100%;
  width: 100%;
  padding: 1rem;

  overflow: hidden;
}

.loadingWrapper {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;

  place-self: center;
}
